@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full;
  background: linear-gradient(3.12deg, #000000 3.74%, #232323 79.77%, #434343 124.44%);
}

:root {
  --FontFamilyGeneral: 'Roboto'; 
}

@keyframes splash {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-splash {
  animation: splash 0.8s ease-out forwards;
}
